.label  {
    margin: 5px 0;
}


.input {
    input {
        margin: 0;
        max-width: 100%;
        flex: 1 0 auto;
        outline: 0;
        text-align: left;
        font-size: 0.8rem;
        padding: 1em 1em 0.8em;
        background: white;
        border: 1px solid rgba(40,40,40,.25);
        color: rgba(0,0,0,.8);
        border-radius: .3em;
        box-shadow: 0px 1px 1px rgba(128,128,128, 0.3) inset;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

        &::-webkit-input-placeholder {
          color: rgba(0,0,0,.4);
        }
        &::-moz-placeholder {
          color: rgba(0,0,0,.4);
        }
        &:-ms-input-placeholder {
          color: rgba(0,0,0,.4);
        }
    }
}

select, input{
    &:active, &:focus {
        border-color: rgba(0,0,0,.4);
        color: rgba(0,0,0,.8);
        box-shadow: 0px 1px 1px rgba(128,128,128, 0.3) inset;
    }
}


.select {
    select {
        margin: 0;
        max-width: 100%;
        flex: 1 0 auto;
        outline: 0;
        text-align: left;
        font-size: 0.8rem;
        padding: 0.8em 0.3em 0.8em 0.8em;
        background: #fff;
        border: 1px solid rgba(40,40,40,.25);
        color: rgba(0,0,0,.8);
        border-radius: .3em;
         box-shadow: 0px 1px 1px rgba(128,128,128, 0.3) inset;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

        &[value=""] {
          color: rgba(0,0,0,.4);
        }
    }

}

.message {
    transition: max-height 0.4s , padding-top 0.4s , padding-bottom 0.4s;
    max-height: 0;
    padding: 0;
    overflow: hidden;
}

.error {
    input, select {
        border: 1px solid rgba(200,40,40,.50);
        box-shadow: 0px 2px 5px rgba(200,40,40,.20) inset;
    }
    & + .message {
        display: block;
        padding: 5px;
        font-size: 0.8em;
        max-height: 2rem;
        &.is-error {
            color: rgb(200,40,40)
        }
    }
}

.col {
    input, select {
       width:100%;
    }
}

.form-message {
    padding: 12px 20px;
    font-size: 0.9rem;
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    &.is-warn {
        background-color: rgb(252, 247, 222);
        border: 1px solid rgb(255, 236, 131);
        color: rgb(175, 125, 40);
    }
}
