@import '../vendors/mq';

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.84);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    @include mq($from: tablet) {
        padding: 10px;
    }
}

.modal-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    transition: all .3s ease;
    @include mq($from: tablet) {
        position: relative;
        border-radius: 5px;
        border: 1px solid rgb(232,232,232);
    };
}

.modal-header {
    position: relative;
    display: flex;
    border-bottom: 1px solid rgb(232,232,232);
    .modal-title {
        cursor: default;
        align-self: center;
        flex-grow: 1;
        padding: 12px;
        text-align: center;
        margin-top: 0;
        color: $primary;
        font-weight: 700;
    }
    .modal-close {
        position: absolute;
        display: flex;
        right: 0;
        width: 50px;
        height: 100%;
        align-items: center;
        justify-content: center;
        border-left: 1px solid rgb(232,232,232);
        background-color: rgb(255, 255, 255);
        color: $primary;
        svg {
            .close-x {
                width: 12px;
                stroke: rgb(98, 98, 98);
                fill: transparent;
                stroke-linecap: round;
                stroke-width: 3.5;
            }
            transition: 0.2s;
        }
        &:hover {
            .close-x {
                stroke: $primary;
            }
            svg {
                transform: scale(1.2);
            }
        }
    }
}

.modal-footer {
    position: fixed;
    display: flex;
    bottom:0;
    width: 100%;
    border-top: 1px solid rgb(222,222,222);
    background-color: rgb(245, 245, 245);
    @include mq($from: tablet) {
        position: relative;
    };
    & > * {
        width: 100%;
    }
}

.modal-body {
    display: flex;
    height: 100%;
    background-color: rgb(245, 245, 245)
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}
.modal-enter .modal-container {
    transform: scale(1.1);
    @include mq($from: tablet) {
        transform: scale(0.9);
    }
},
.modal-leave-active .modal-container {
    @include mq($from: tablet) {
        transform: scale(1.1);
    }
}
