@import '../vendors/mq';

.big-radio {
    input {
        display: none;
        &:checked {
            & + .big-radio {
                &-wrapper {
                    border-color: $primary;
                    background: $primary;
                    * {
                        color: white;
                    }
                    &:before {
                        @include mq($from: tablet) {
                            content: "";
                            position: absolute;
                            border-top: 16px solid transparent;
                            border-bottom: 16px solid transparent;
                            border-right: 12px solid $primary;
                            top: 50%;
                            margin-top: -16px;
                            left: -10px;
                        }
                    }
                    .big-radio {
                        &-dot {
                            border: 3px solid $primary;
                            box-shadow: 0 0 0 2px white;
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
    &-wrapper {
        transition: 0.2s;
        position: relative;
        display: flex;
        align-items: center;
        padding: 18px 12px;
        border: 1px solid rgb(204, 204, 204);
        background-color: white;
        margin: 5px;
        border-radius:5px;
        color: $primary;
        cursor: pointer;
        @include mq($from: tablet) {
            padding: 18px;
        }
        &:before {
            @include mq($from: tablet) {
                content: "";
                transition: 0.2s;
                position: absolute;
                border-top: 16px solid transparent;
                border-bottom: 16px solid transparent;
                border-right: 0px solid transparent;
                top: 50%;
                margin-top: -16px;
                left: 0px;
            }
        }
        &:hover {
            border: 1px solid $primary;
            background-color: rgb(243, 216, 248);
            * {
                color: $primary
            }
        }
    }
    &-dot {
        margin-right: 10px;
        width: 15px;
        height: 15px;
        flex-shrink: 0;
        border-radius: 50%;
        border: 7px solid transparent;
        box-shadow: 0 0 0 2px rgb(128, 128, 128);
        transition: 0.2s;
    }
    &-label {
        width: 100%;
    }

}
