@import '../abstracts/variables';

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(230, 230, 230);
}

#price .total b {
    color: $primary;
}
