@import "../fonts/source-sans-pro/source-sans-pro.css";

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(102, 102, 102);
}

.smaller {
    font-size: 0.95em;
}

.semi-bold {
    font-weight: 600;
}

.lighter {
    opacity: 0.8;
}
